@using XPOS_ViewModels;
@model List<VMProduct>

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>150</h3>
                <p>Total Orders</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53</h3>

                <p>Estimated Price</p>
            </div>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>

                <p>Check Out</p>
            </div>
        </div>
    </div>
</div>



<div class="row">
    @foreach (VMProduct item in Model)
    {
        <div class="col-md-3">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img src="~/images/@item.Image" class="profile-user-img img-fluid img-circle img-responsive">
                    </div>
                    <h3 class="text-center">@item.NameProduct</h3>
                    <p class="text-muted text-center">@item.NameVariant-@item.NameProduct</p>

                    <ul class="list-group list-group-unbordered mb-3">

                        <li class="list-group-item">
                            <b>Price</b> <a class="float-right">@item.Price</a>
                        </li>
                        <li class="list-group-item">
                            <b>Stock</b> <a class="float-right">@item.Stock</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-danger btn_Sub" dataid="@item.Id">-</button>
                    <p>0</p>
                    <button type="submit" class="btn btn-danger btn_Plus" dataid="@item.Id">+</button>
                </div>
            </div>
        </div>
    }
</div>


<script>
    $(."btn_Kurang").click(function () {

    })
</script>