@using XPOS_ViewModels;
@model PaginatedList<VMOrderHeader>

<div class="card-body">
    <div class="card-tools">

        @*    <form asp-action="Index" asp-route-pageSize="@ViewBag.pageSize">

        <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="searchString"
        value="@ViewBag.CurrentFilter"
        class="form-control float-right"
        placeholder="Search">*@

        <div class="input-group-append">
            <button type="button" class="btn btn-success float-right" id="btn_search">
                <i class="fas fa-search"></i> Search
            </button>
        </div>

        <div class="card-body">
            <div class="ml-3">
                  <div class="text">Search Result</div>
                @if(@ViewBag.FilterMinDate != null)
                {
                    <span class="bg-red">Min Date: @ViewBag.FilterMinDate</span>
                }
                @if (@ViewBag.FilterMaxDate != null)
                {
                    <span class="bg-red">Max Date: @ViewBag.FilterMaxDate</span>
                }
                @if (@ViewBag.FilterMinPrice != null)
                {
                    <span class="bg-red">Min Price: @ViewBag.FilterMinPrice</span>
                }
                @if (@ViewBag.FilterMaxPrice != null)
                {

                    <span class="bg-red">Max Price: @ViewBag.FilterMaxPrice</span>
                    
                }          

            </div>

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Create Date</th>
                    <th scope="col">Code Transaction</th>
                    <th scope="col">Total Qty</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CreateDate.ToString("dd-MMMM-yyyy")</td>
                    <td>@item.CodeTransaction</td>
                    <td>@item.TotalQty</td>
                    <td>@item.Amount</td>
                    <td>

                        <button class="btn btn-primary collapsed btn-more" id="btn-more-@item.Id"
                                dataid="@item.Id" data-toggle="collapse" href="#collapse_@item.Id">
                            More
                        </button>

                    </td>
                </tr>
                <tr id="collapse_@item.Id" class="collapse">
                    <td colspan="5">
                        <div class="card card-primary">
                            <div class="car-body">
                                <table class="table table-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name Product</th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">SubTotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in item.ListDetail)
                                        {
                                            <tr>
                                                <td>@detail.NameProduct</td>
                                                <td>@detail.Qty</td>
                                                <td>@detail.Price</td>
                                                <td>@detail.SubTotal</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </table>

    </div>
    <div class="card-footer clearfix">

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="row">

            <div class="col-2">
                <form asp-action="OrderHistory" id="form-pageSize" asp-route-currentFilter="@ViewBag.CurrentFilter">
                    <select id="pageSize" class="form-control" name="pageSize">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>

                </form>

            </div>


            <div class="col-10>

                <div class="float-right">

                    Page @Model.PageIndex of Page @Model.TotalPages

                    <a asp-action="OrderHistory"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.pageSize"
                       class="btn btn-primary @prevDisabled">
                        Previous
                    </a>

                    <a asp-action="OrderHistory"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.pageSize"
                       class="btn btn-primary @nextDisabled">
                        Next
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $("#pageSize").val(@ViewBag.pageSize)

    $("#pageSize").change(function () {
        $("#form-pageSize").submit();
    })


    $(".btn-more").click(function () {

        var Id = $(this).attr("dataid")
        var more = $(this).text()

        if (more == "Less") {

            $("#btn-more-" + Id).text("More")
            $("#btn-more-" + Id).removeClass("btn-warning")
            $("#btn-more-" + Id).addClass("btn-primary")
        }

        else {
            $("#btn-more-" + Id).text("Less")
            $("#btn-more-" + Id).removeClass("btn-primary")
            $("#btn-more-" + Id).addClass("btn-warning")
        }

    })


    $("#btn_search").click(function () {

        $("#header-modal-default").empty()
        $("#header-modal-default").text("Search")

        $("#body-modal-default").empty()
        $("#body-modal-default").load("/Order/Search")
        $("#modal-default").modal("show")

    })
</script>
