@using XPOS.API.Models;
@model List<TblCategory>

<div class="card">
    <div class="card-header">
@*        <a class="btn btn-primary" asp-controller="Category" asp-action="Create">Create</a>*@

        <button type="button" class="btn btn-default" id="btn_create">
            Create Modal
        </button>

    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (TblCategory item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.NamaCategory</td>
                        <td>@item.Description</td>
                        <td>
          @*                  <a class="btn btn-success" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-warning" asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                            <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

                            <button class="btn btn-success btn_Edit" dataid="@item.Id">Edit</button>
                        <button class="btn btn-warning btn_Detail" dataid="@item.Id">Detail</button>
                        <button class="btn btn-danger btn_Delete" dataid="@item.Id">Delete</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
    <div class="modal-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
    </div>
</div>

@*Jcquery*@
<script>
    $("#btn_create").click(function(){

        $("#header-modal-default").empty()
        $("#header-modal-default").text("Create Category")

        $("#body-modal-default").empty()
        $("#body-modal-default").load("/Category/Create")
        $("#modal-default").modal("show")

    })

    $(".btn_Edit").click(function () {
        var Id =$(this).attr("dataid")

        $("#header-modal-default").empty()
        $("#header-modal-default").text("Edit Category")

        $("#body-modal-default").empty()
        $("#body-modal-default").load("/Category/Edit?Id="+Id)
        $("#modal-default").modal("show")
    })

    $(".btn_Detail").click(function () {

        var Id = $(this).attr("dataid")
        
        $("#header-modal-default").empty()
        $("#header-modal-default").text("Detail Category")

        $("#body-modal-default").empty()
        $("#body-modal-default").load("/Category/Detail?Id=" + Id)
        $("#modal-default").modal("show")

    })

    $(".btn_Delete").click(function () {

        var Id = $(this).attr("dataid")

        $("#header-modal-default").empty()
        $("#header-modal-default").text("Delete Category")

        $("#body-modal-default").empty()
        $("#body-modal-default").load("/Category/Delete?Id=" + Id)
        $("#modal-default").modal("show")

    })


</script>



