@using XPOS.API.Models;
@model List<TblCategory>

<a class="btn btn-primary" asp-controller="Category" asp-action="Create">Create</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name Category</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>                      
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (TblCategory item in Model)
        {           
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.NamaCategory</td>
            <td>@item.Description</td>
            <td>
                <a class="btn btn-success" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-warning" asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                <a class="btn btn-danger" asp-controller="Category" asp-action="Delete">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
