@using XPOS_ViewModels;
@model VMProduct

<form asp-action="Edit" method="post" enctype="multipart/form-data" id="form-edit">

    <input type="hidden" value="@Model.Id" name="Id" id="Id" />
   

    <div class="Edit">
        <label for="IdCategory" class="form-label">Category</label>
        @Html.DropDownListFor(a => a.IdCategory,
        new SelectList(ViewBag.ListCategory,"Id","NamaCategory"),
        new{@class="form-control"})
    </div>

    <div class="Edit">
        <label for="IdVariant" class="form-label">Variant</label>
        @Html.DropDownListFor(a => a.IdVariant,
        new SelectList(ViewBag.ListVariant,"Id","NameVariant"),
        new{@class="form-control"})
    </div>

    <div class="Edit">
        <label for="NameProduct" class="form-label">Name Product</label>
        <input type="text" class="form-control" id="NameProduct" name="NameProduct" value="@Model.NameProduct">
    </div>

    <div class="Edit">
        <label for="Stock" class="form-label">Stock</label>
        <input type="text" class="form-control" id="Stock" name="Stock" value="@Model.Stock">
    </div>

    <div class="Edit">
        <label for="Price" class="form-label">Price</label>
        <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">
    </div>

    <div class="Edit">
        <label for="Image" class="form-label">Upload New Image</label>
        <input type="file" class="form-control" id="ImageFile" value="@Model.Image" name="ImageFile">
    </div>

    <a asp-action="Index" asp-controller="Product" class="btn btn-light">Cancel</a>
    <button type="submit" class="btn btn-primary">Submit</button>


</form>

<script>
    $("#form-edit").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            NameProduct: {
                required: true,
                minlength: 2
            },

            IdCategory: "required",

            IdVariant: "required",
            Stock: {
                required:true,
                number:true
            },
            Price:{
                required:true,
                number:true
            },
            ImageFile: {
                
                extension:"jpeg|jpg|png"
                }
        },

        messages: {
            NameVariant: {
                required: "Please enter name product",
                minlength: "Name product must consist at least 2 character"
            },

            IdCategory: "Please select category",

            IdVariant: "Please select variant",
            Stock: {
                required: "Please enter stock",
                number: "number only"
            },
            Price: {
                required: "Please enter price",
                number: "number only"
            },
            ImageFile:{
                
                extension: "jpeg/jpg/png only"
            }

        },

        submitHandler: function (form) {

            var data = new FormData();


            var dataForm = $(form).serializeArray();

            $.each(dataForm,function(key,input){
                data.append(input.name,input.value)
            })

            var file = $("#ImageFile").prop("files");

            if(file.length>0)
            {
                data.append("ImageFile",file[0])

            }



            //fungsi ajax

            $.ajax({
                url: "/Product/Edit",
                method: "post",
                data: data,
                dataType: "json",
                contentType:false,
                processData:false,

                success: function (respon) {

                    debugger

                    if (respon.dataRespon.success) {
                        $("#modal-default").modal("hide")

                        toastr.success(respon.dataRespon.message)

                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);

                    }
                    else {
                        toastr.error(respon.dataRespon.message)
                    }
                }

            })

        }

    })
</script>