@using XPOS_ViewModels
@*@model List<VMVariant>*@

@model PaginatedList<VMVariant>


<div class="card">

    <div class="card-header">
        @*<a class="btn btn-primary" asp-controller="Variant" asp-action="Create">Create</a>*@
@*
        <button type="button" class="btn btn-default" id="btn_create">
            Create Variant
        </button>*@

        <div class="card-header">

            <button type="button" class="btn btn-default" id="btn_create">
                Create Variant
            </button>

            <div class="card-tools">

                <form asp-action="Index" asp-route-pageSize="@ViewBag.pageSize">

                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="searchString"
                               value="@ViewBag.CurrentFilter"
                               class="form-control float-right"
                               placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">
                        <a asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.IdSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter">
                            Id
                        </a>
                    </th>
                    <th scope="col">
                        <a asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter">
                            Name Category
                        </a> 
                    </th>
                    <th scope="col">
                        <a asp-action="Index" 
                        asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.CurrentFilter">
                            Name Variant
                        </a>
                    </th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (VMVariant item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.NamaCategory</td>
                            <td>@item.NameVariant</td>
                            <td>@item.Description</td>
                            <td>
                                @*<a class="btn btn-success" asp-controller="Variant" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-warning" asp-controller="Variant" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                                <a class="btn btn-danger" asp-controller="Variant" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@

                                @*//untuk pop up*@
                            <button class="btn btn-success btn_Edit" dataid="@item.Id">Edit</button>
                            <button class="btn btn-warning btn_Detail" dataid="@item.Id">Detail</button>
                            <button class="btn btn-danger btn_Delete" dataid="@item.Id">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="row">

            <div class="col-2">
                <form asp-action="Index" id="form-pageSize" asp-route-currentFilter="@ViewBag.CurrentFilter">
                    <select id="pageSize" class="form-control" name="pageSize">
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>

                </form>

            </div>


            <div class="col-10>

                <div class="float-right">

                    Page @Model.PageIndex of Page @Model.TotalPages

                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.pageSize"
                       class="btn btn-primary @prevDisabled">
                        Previous
                    </a>

                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewBag.CurrentSort"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-pageSize="@ViewBag.pageSize"
                       class="btn btn-primary @nextDisabled">
                        Next
                    </a>

                </div>
            </div>
        </div>
    </div>

@*Jcquery*@
<script>

        $("#pageSize").val(@ViewBag.pageSize)

        $("#pageSize").change(function () {
            $("#form-pageSize").submit();
        })

        $("#btn_create").click(function () {

            $("#header-modal-default").empty()
            $("#header-modal-default").text("Create Variant")

            $("#body-modal-default").empty()
            $("#body-modal-default").load("/Variant/Create")
            $("#modal-default").modal("show")

        })

        $(".btn_Edit").click(function () {
            var Id = $(this).attr("dataid")

            $("#header-modal-default").empty()
            $("#header-modal-default").text("Edit Variant")

            $("#body-modal-default").empty()
            $("#body-modal-default").load("/Variant/Edit?Id=" + Id)
            $("#modal-default").modal("show")
        })

        $(".btn_Detail").click(function () {

            var Id = $(this).attr("dataid")

            $("#header-modal-default").empty()
            $("#header-modal-default").text("Detail Variant")

            $("#body-modal-default").empty()
            $("#body-modal-default").load("/Variant/Detail?Id=" + Id)
            $("#modal-default").modal("show")

        })

        $(".btn_Delete").click(function () {

            var Id = $(this).attr("dataid")

            $("#header-modal-default").empty()
            $("#header-modal-default").text("Delete Variant")

            $("#body-modal-default").empty()
            $("#body-modal-default").load("/Variant/Delete?Id=" + Id)
            $("#modal-default").modal("show")

        })
</script>
